.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
}
.carouselItem__img {
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 5px black;
}
.slider {
  margin-top: 50px;
}

.trending_slider {
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  .trending_slider {
    margin-top: 70px;
  }
}
